* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: whitesmoke;
  }

  header{
    position: sticky;
    top: 0;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  main{
    background-color: whitesmoke;
  }

  .form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input{
    width: 100%;
  }

  section{
    padding: 20px;
    background-color: white;
    margin: 5% 20%;
    border-radius: 4px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 10px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  td table {
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  